{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<h1 class="text-center mt-4">Hi {{ user.firstName }}, here are your saved books.</h1>
<div class="row mb-3">
    {% for book in user.books %}
    <div class="col-sm-3 gx-3 gy-3">
        <div class="card h-100">
            <img src="{{ book.imageLink }}" alt="cover" class="card-img">
            <div class="card-img-overlay d-flex flex-column">
                <h5 class="card-title truncated-title" title="{{ book.title }}">{{ book.title }}</h5>
                <p class="text-truncate" title="{{ book.authors }}">{{ book.authors }}</p>
                <p class="text-truncate" title="{{ book.publisher }}">{{ book.publisher }}</p>
                <p>{{ book.date }}</p>
                <p>{{ book.rating }}/5</p>
                <p class="text-truncate" title="{{ book.description }}">{{ book.description }}</p>
                <button class="btn text-decoration-underline" data-bs-toggle="modal" data-bs-target="#modal_{{ user.books.index(book) }}">read more</button> 
                <div class="d-flex flex-column align-items-center mt-auto mb-3">
                    <button class="btn" type="button"><i type="button" class="fa-solid fa-heart fa-lg" onclick="deleteBook({{ book.id }})"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="modal_{{ user.books.index(book) }}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header d-flex flex-column align-items-center">
                    <h4 class="modal-title fw-bold">Book info</h5>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h5 class="text-center">Title</h5>
                            <p class="text-center mb-0">{{ book.title }}</p>
                        </li>
                        <li class="list-group-item">
                            <h5 class="text-center">Author(s)</h5>
                            <p class="text-center mb-0">{{ book.authors }}</p>
                        </li>
                        <li class="list-group-item">
                            <h5 class="text-center">Publisher</h5>
                            <p class="text-center mb-0">{{ book.publisher }}</p>
                        </li>
                        <li class="list-group-item">
                            <h5 class="text-center">Publishing date</h5>
                            <p class="text-center mb-0">{{ book.date }}</p>
                        </li>
                        <li class="list-group-item">
                            <h5 class="text-center">Description</h5>
                            <p class="text-center mb-0">{{ book.description }}</p>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer d-flex flex-column align-items-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!--
<ul class="list-group mt-4">
{% for book in user.books %}
<li class="list-group-item d-flex align-items-center mt-2 mb-2">
    <img src="{{ book.imageLink }}" alt="cover" class="image-fluid me-5">
    <div class="w-50">
        <h5 class="fw-bold">{{ book.title }}</h5>
        <h5>{{ book.authors }}</h5>
        <h5>{{ book.publisher }}</h5>
        <h5>{{ book.date }}</h5>
        <h5>{{ book.rating }}/5</h5>
        <p>{{ book.description }}</p>
    </div>
    <button class="btn ms-auto" onclick="deleteBook({{ book.id }})"><i class="fa-solid fa-heart fa-lg"></i></button>
</li>
{% endfor %}
</ul>
-->
{% endblock %}